@charset "utf-8";

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", sans-serif;
    background-color: #fcfcfc;
}

/* 各ボックスの設定 */
.wrapper {
    display: flex;
    justify-content: space-between;
}

.main__wrap {
    width: 85vw;
    margin: 0 auto;
    border-top: 10px solid #fcfcfc;
    border-left: 10px solid #fcfcfc;
    border-right: 10px solid #fcfcfc;
}

.title__area,
.table__of__contents__area,
.profile__area,
.award__area,
.current__projects__area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin: auto;
    height: 100vh;
    align-items: center;
}

.small__title,
h2 {
    font-size: 2.4rem;
    font-weight: bold;
    margin-bottom: 20px;
}

h1 {
    position: fixed;
    top: 16px;
    font-size: 4.6rem;
    font-weight: bold;
    writing-mode: vertical-rl;
    color: #f0f0f0;
    
}

p{
    font-size: 1.6rem;
    line-height: 2.4rem;

    text-align: justify;

}



/* ナビゲーション */
.navigation {
    position: sticky;
    top: 0;
    width: 15vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #005BAC;
    z-index: 1000;
    border-bottom: 10px solid #fcfcfc;
    border-top: 10px solid #fcfcfc;
    border-left: 10px solid #fcfcfc;
}

.inner {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__logo {
    width: 100%;
    background: #005BAC;
}

.nav__list li {
    position: relative;
}

.nav__list li a {
    display: block;
    padding: 20px 0;
    margin: 10px 0;
    text-align: center;
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: bold;
    transition: .5s;
}

.nav__list li a:hover {
    background: #206DB5;
}

.sub__menu {
    position: absolute;
    top: 0;
    left: 100%;
    background: #206DB5;
    padding: 0;
    margin: 0;
    width: 310px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out,transform 0.5s ease-in-out;
    transform: translateX(-20px);
    pointer-events: none;
    
}

.sub__menu li a {
    padding: 10px 15px;
    text-align: start;
    color: #fcfcfc;
    font-size: 1.4rem;
    font-weight: normal;
    transition: .5s;
    white-space: nowrap;
}

.sub__menu li a:hover {
    background: #578fc0;
}

.nav__list li:hover .sub__menu {
    display: block;
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
}


/* Portfolio Intro Section */
.portfolio__intro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.intro__content h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;
    background-color: #333;
    color: #fcfcfc;
    display: inline-block;
    padding: 0.5rem 1rem;
}

.intro__content h3 {
    font-size: 4rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1rem;
}

.intro__content h4 {
    font-size: 6rem;
    font-weight: bold;
    color: #333;
}

.intro__content h5 {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
}

/* table of contents area */
.table__of__contents__area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub__header {
    text-align: center;
    margin-bottom: 30px;
}

.sub__header h2 {
    font-size: 4rem;
    color: #005BAC;
    font-weight: bold;
}

.sub__header p {
    font-size: 3rem;
    color: #333;
}

.contents__columns {
    display: flex;
    justify-content: space-between;
    gap: 10vw;
}

.contents__left,
.contents__right {
    width: 48%;
}

.contents__right ul li a {
    color: #005BAC;
    font-size: 1.8rem;
    font-weight: bold;
    transition: .5s;
}

.contents__right ul li a:hover {
    color: #578fc0;
}

.contents__left h3,
.contents__left h4,
.contents__right h4 {
    color: #005BAC;
    font-size: 3rem;
    margin-bottom: 50px;
    font-weight: bold;
}

.contents__left ul,
.contents__right ul {
    padding-left: 100px;
    margin: 0;
}

.contents__left ul li,
.contents__right ul li {
    font-size: 1.8rem;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    line-height: 4.2rem;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
}

.contents__left h4,
.contents__right h4 {
    margin-top: 50px;
}



.profile__area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcfcfc;
    padding: 50px 0;
}

.profile__area .sub__header {
    text-align: center;
    margin-bottom: 30px;
}

.profile__area .sub__header h2 {
    font-size: 4rem;
    color: #005BAC;
    font-weight: bold;
}

.profile__area .sub__header p {
    font-size: 3rem;
    color: #333;
}

.profile {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10vw;
    width: 80%;
}

.profile__img {
    width: 45%;
    text-align: center;
}

.profile__img img {
    width: 100%;
    border-radius: 20px;
}

.profile__text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile__text h2.name {
    font-size: 3rem;
    color: #005BAC;
    font-weight: bold;
    margin-bottom: 10px;
}

.profile__text h3.small__title {
    font-size: 2.5rem;
    color: #005BAC;
    font-weight: bold;
    margin: 20px 0 10px;
}

.profile__text p {
    font-size: 1.8rem;
    color: #333;
    line-height: 2.5rem;
}

.profile__text ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.profile__text ul li {
    font-size: 1.8rem;
    color: #333;
    line-height: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    word-spacing: 0.1em;
    white-space: nowrap;
}
.profile__text a {
    text-decoration: none;
    color: #005BAC;
    font-size: 1.6rem;
    font-weight: bold;
    transition: .5s;
}

.profile__text a:hover {
    color: #578fc0;
}






/* award__area */
.award__img {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award__img__1 {
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.award__img__1 img {
    height: 80%;
    margin-bottom: 20px;
}

.award__img__2 {
    height: 60%;
    
}

.award__img ul {
    display: flex;
    justify-content: center;
    height: 100%;
}

.award__img ul li {
    display: flex;
    margin: 0 20px;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.award__img ul li img {
    height: 80%;
    margin-bottom: 10px;
    
}

/* project__area */
.project__area {
    width: 100%;
    max-width: 1300px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projects {
    width: 100%;

}
.project {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem;
    width: 100%;
}
.project:nth-child(odd) {
    flex-direction: row-reverse;
}

.project__text {
    width: 23%;
    margin: auto;
}

.project__text h3 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
}

.project__text p {
    color: #333;
    margin-top: 4rem;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: justify;
}

.project__img {
    margin: 0 auto;
    width: 55%;
}


.project__img a img {
    width: 100%;
    border-radius: 20px;
    transition: .5s;
}

.project__img a img:hover {
    transform: scale(1.1);
}

/* current__projects__area */
.current__projects__area {
    width: 100%;
    /* height: 90vh; */
    max-width: 1300px;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.current__project {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 10rem;
    width: 100%;
}


.project__details {
    width: 23%;
    margin: auto;
}

.project__details h3 {
    font-size: 2.8rem;
    font-weight: bold;
    color: #333;
}

.project__details p {
    color: #333;
    margin-top: 2rem;
    font-size: 1.6rem;
    line-height: 1.75;
    /* white-space: nowrap; */
    text-align: justify;
}

.project__image {
    margin: 0 auto;
    width: 55%;
}

.project__image a img {
    width: 100%;
    border-radius: 20px;
    transition: .5s;
}

.project__image a img:hover {
    transform: scale(1.1);
}

/* footer */
.footer__copyright {
    position: fixed;
    right: 15px;
    bottom: 40px;
}

.footer__copyright span {
    writing-mode: vertical-lr;
}

.back__btn a {
    color: #333;
    position: fixed;
    bottom: 24px;
    right: 80px;
    text-decoration: none;
    display: block;
    width: 100px;
    padding: 16px 20px;
    text-align: right;
    transform: rotate(90deg);
    transform-origin: bottom right;
}

.arrow1 {
    width: 48px;
    height: 1px;
    background: #333;
    position: absolute;
    top: 50%;
    right: 62px;
}

.arrow2 {
    width: 1px;
    height: 12px;
    background: #333;
    position: absolute;
    top: calc(50% + 1px);
    right: 109px;
    transform: rotate(-130deg);
    transform-origin: top left;
}


.thanks__area {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fcfcfc;
    padding: 50px 0;
}
.thanks{
    font-size: 3.8rem;
    text-align: center;
    color: #005BAC;
}
